body{
    background-image: url("https://image.freepik.com/vetores-gratis/projeto-do-fundo-multicolor_1117-99.jpg");
    font-family: calibri;
    background-size: auto 100vh;
    height: 100vh
   
  }
  .menu{
    background-color: white;
  }
  
  a{
    color: purple;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .menu ul{
    display: flex;
    justify-content: space-around;
   
  }
  .menu li{
    list-style: none;
  }
  .site-subtitle, .site-title{
    color: pink;
    text-align: center;
  }
    .site-subtitle{
    font-style: italic;
    
  }